* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ol, ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 120px;
  padding: 50px 10% 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
header h1 a {
  font: bold 24px/1 "";
  color: #333;
}
header ul {
  display: flex;
  gap: 20px;
}
header ul#gnb a {
  font: bold 14px/1 "AppleGothic";
  color: #444;
}
header ul.sns a {
  font-size: 20px;
  color: #888;
}
header .btnCall {
  display: none;
}

@media screen and (max-width: 980px) {
  header {
    height: 100px;
    padding: 30px 10% 10px;
  }
  header h1 {
    transform: translateY(-3px);
  }
  header h1 a {
    font: bold 20px/1 "";
  }
  header ul {
    display: none;
  }
  header .btnCall {
    color: #111;
    display: block;
    font-size: 20px;
  }
}
#visual {
  width: 100%;
  height: calc(100vh - 120px);
  background-color: #072a28;
  position: relative;
  display: flex;
  padding: 0px 10vw;
  align-items: center;
}
#visual video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
}
#visual .txt {
  position: relative;
}
#visual .txt h1 {
  font-size: 9vw;
  font-weight: normal;
  line-height: 1;
  color: #fff;
}
#visual .txt p {
  font: 22px/1.2;
  color: #d6d6d6;
  width: 70%;
  margin-bottom: 50px;
}
#visual .txt a {
  display: inline-block;
  padding: 10px 30px;
  text-align: center;
  border: 1px solid #ddd;
  color: #fff;
}

@media screen and (max-width: 980px) {
  #visual {
    height: calc(100vh - 100px);
  }
  #visual .txt p {
    width: 100%;
  }
  #visual a {
    width: 100%;
  }
}
#vids {
  width: 100%;
  padding: 150px 10vw 100px;
}
#vids h1 {
  text-align: center;
  font: bold 22px/1 "";
  color: #777;
  margin-bottom: 50px;
}
#vids .wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
#vids .wrap article {
  flex: 1;
}
#vids .wrap article .pic {
  width: 100%;
  height: 130px;
  margin-bottom: 15px;
}
#vids .wrap article .pic img {
  width: 100%;
  height: 100%;
}
#vids .wrap article h2 {
  font: bold 16px/1 "";
  color: #555;
  margin-bottom: 10px;
}
#vids .wrap article p {
  font: 14px/1 "";
  color: #555;
}

@media screen and (max-width: 980px) {
  #vids .wrap {
    gap: 10px;
  }
  #vids .wrap article {
    flex: 1 1 auto;
    width: calc(50% - 20px);
  }
}
@media screen and (max-width: 640px) {
  #vids .wrap article {
    flex: 1 1 auto;
    width: 100%;
    margin-bottom: 10px;
  }
}
#pics {
  width: 100%;
  padding: 200px 10vw 150px;
  background: #efefef;
}
#pics h1 {
  text-align: center;
  margin-bottom: 50px;
}
#pics .wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 60vh;
}
#pics .wrap .left {
  width: 30%;
  height: 100%;
  background-color: #333;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 5px;
}
#pics .wrap .left > * {
  width: 100%;
  text-align: center;
}
#pics .wrap .left i {
  color: #fff;
  font-size: 80px;
}
#pics .wrap .left h2 {
  font: bold 18px/1 "";
}
#pics .wrap .left p {
  font: 14px/1;
  color: #888;
}
#pics .wrap .left a {
  padding: 5px 10px;
  border: 1px solid #aaa;
  display: block;
  max-width: 160px;
  color: #fff;
  margin: 0 auto;
}
#pics .wrap .right {
  width: calc(70% - 20px);
  height: 100%;
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
#pics .wrap .right article > img {
  width: 100%;
  height: 100%;
}
#pics .wrap .right article:nth-of-type(1) {
  width: calc(50% - 10px);
  height: calc(50% - 10px);
  background-color: #555;
}
#pics .wrap .right article:nth-of-type(2) {
  width: calc(50% - 10px);
  height: calc(50% - 10px);
  background-color: #555;
}
#pics .wrap .right article:nth-of-type(3) {
  width: 100%;
  height: calc(50% - 10px);
  background-color: #555;
}

@media screen and (max-width: 980px) {
  #pics .wrap {
    display: block;
    height: 100%;
  }
  #pics .wrap .left {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
  }
  #pics .wrap .right article:nth-of-type(1) {
    height: auto;
  }
  #pics .wrap .right article:nth-of-type(2) {
    height: auto;
  }
  #pics .wrap .right {
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  #pics .wrap .right article:nth-of-type(1) {
    width: 100%;
  }
  #pics .wrap .right article:nth-of-type(2) {
    width: 100%;
  }
}
#banner {
  width: 100%;
  height: 40vh;
  background-color: #111;
  padding: 10vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 40px;
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
#banner h1 {
  font: bold 24px/1;
  color: #fff;
}
#banner p {
  font: 14px/1.2;
  color: #bbb;
}

#news {
  width: 100%;
  padding: 200px 10vw 150px;
  background-color: #ddd;
}
#news h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}
#news ul {
  width: 100%;
}
#news ul li {
  width: 100%;
  padding: 15px;
  background-color: #fff;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}
#news ul li a {
  font: 14px/1.2;
  color: #777;
}
#news ul li span {
  color: orange;
}

/*# sourceMappingURL=style.css.map */
