#banner {
    width: 100%;
    height: 40vh;
    background-color: #111;
    padding: 10vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 40px;
    background-image: url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    h1 {
        font: bold 24px/1;
        color: #fff;
    }
    p {
        font: 14px/1.2;
        color: #bbb;
    }
}

